<div ng-controller="productCtrl">
    <div class="row">
        <div class="col-xs-4">
            <input type="text" ng-model="searchModel" class="form-control" placeholder="Search Model">
            <input type="text" ng-model="searchMake" class="form-control" placeholder="Search Make">
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>#</td>
                <td>Make</td>
                <td>Model</td>
                <td custom-click="sortByYear()"><a href="">Year</a></td>
                <td>Price</td>
            </tr>
        </thead>
        <tr ng-repeat="vehicle in vehicles
                       |filter:{Model:searchModel}
                       |filter:{Make:searchMake}
                       |orderBy:yearSort">
            <td>{{$index}}</td>
            <td>{{vehicle.Make|uppercase}}</td>
            <td>{{vehicle.Model|lowercase}}</td>
            <td>{{vehicle.Year}}</td>
            <td>{{vehicle.Price|currency:"RS."}}</td>
            <td>{{vehicle.Contact|phoneFormat}}</td>
        </tr>
    </table>

</div>
