<h1>Register</h1>
<form class="form-horizontal" name="registerForm" ng-controller="registerCtrl" novalidate>

    <div class="form-group">

        <label class="control-label col-xs-2">First Name</label>

        <div class="col-xs-4">

            <input type="text" class="form-control" name="firstName" placeholder="First Name" ng-model="user.firstName" ng-required="true" ng-minlength="3" ng-maxlength="10">
            <div ng-show="registerForm.firstName.$dirty">
                <p ng-show="registerForm.firstName.$error.required">First Name Required.</p>
                <p ng-show="registerForm.firstName.$error.minlength">Minimum length is 3.</p>
                <p ng-show="registerForm.firstName.$error.maxlength">Max length is 10.</p>
            </div>

        </div>

    </div>


    <div class="form-group">

        <label class="control-label col-xs-2">Last Name</label>

        <div class="col-xs-4">

            <input type="text" class="form-control" placeholder="Last Name" ng-model="user.lastName">

        </div>

    </div>
    <div class="form-group">

        <label class="control-label col-xs-2">Age</label>

        <div class="col-xs-4">

            <input type="text" class="form-control" placeholder="Age" ng-model="user.age">

        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">Gender</label>
        <div class="col-xs-4">
            <input type="radio" value="M" ng-model="user.gender" name="gender">M
            <input type="radio" value="F" ng-model="user.gender" name="gender">F
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-2">Country</label>
        <div class="col-xs-4">
            <select class="form-control" ng-change="loadStateList()" ng-model="user.country" ng-options="country.name for country in countryList">
                <option value="">Please Select</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">State</label>
        <div class="col-xs-4">
            <select class="form-control" ng-model="user.state" ng-options="state.name for state in stateList">
                <option value="">Please Select</option>
            </select>
        </div>
    </div>

    <div class="form-group">

        <div class="col-xs-offset-2 col-xs-10">

            <button class="btn btn-primary" custom-click="registerUser()">Register</button>

        </div>

    </div>
</form>
